<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% patient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
      <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">

      <div style="font-size: large">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="item form-group">
              <label class="control-label" >Name </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= form.text_field :name, required: true  %>
              </div>
            </div>
          </div>


          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="item form-group">
              <label class="control-label" >Height (in cm)</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= form.number_field :height, step: 0.01 ,required: true  , max: 350%>
              </div>
            </div>
          </div>


            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="item form-group">
                <label class="control-label">Weight (in kg)</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= form.number_field :weight, step: 0.01, required: true , max: 300 %>
                </div>
              </div>
            </div>


              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="item form-group">
                  <label class="control-label" >Age (in yrs)</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <%= form.number_field :age, required: true , max: 150%>
                  </div>
                </div>
              </div>


                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="item form-group">
                    <label class="control-label" >Blood Group </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= form.text_field :bg, required: true  %>
                    </div>
                  </div>
                </div>


                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="item form-group">
                    <label class="control-label" >Allergies (if any) </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= form.text_field :allergies, required: true %>
                    </div>
                  </div>
                </div>


      </div>
      </div>
    </div>
  </div>
    <br>
  <center>
    <div class="actions">
    <%= form.submit "Submit", :class =>"btn btn-lg btn-success col-md-2 col-sm-3 col-xs-3" %>

  <%= link_to 'Back', root_path, :class =>"btn btn-lg btn-success col-md-2 col-sm-3 col-xs-3" %>
    </div>
  </center>
<% end %>