      <div class="view" style="background-image: url('https://www.thehealthy.com/wp-content/uploads/2016/11/02-Ways-to-Make-the-Most-of-Your-Doctors-Appointment_First-appointment_93813283_cyano66-768x512.jpg');
          height: 550px; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative;">
        <div class="mask rgba-gradient align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-md-4 white-text text-center text-md-left mt-xl-5 mb-5">
                <br><br><br><br><br><br>
                <h3 class="h3-responsive font-weight-bold">Sign Up</h3>
                <hr class="hr-light">
                <h6 class="mb-4"><%= link_to "As Patient", new_patient_path, :class=>"btn btn-primary"%>
                  <%= link_to "As Doctor", new_doctor_path, :class=>"btn btn-primary"%>
                  <%= link_to "As Lab", new_lab_path, :class=>"btn btn-primary"%></h6>
                <h3 class="h3-responsive font-weight-bold">Sign In</h3>
                <hr class="hr-light">
                <h6 class="mb-4"><%= link_to "As Patient", patients_login_path, :class=>"btn btn-primary"%>
                  <%= link_to "As Doctor", doctors_login_path, :class=>"btn btn-primary"%>
                  <%= link_to "As Lab", labs_login_path, :class=>"btn btn-primary"%></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>
<br>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <center>
              <div class="card" style="width:98%;">
                <div class="card-body" style="background-color: lightcyan">
                  <center><h4 class="card-title" style="color:blue">About Us</h4>
                    DiMeRO
                    The largest online digital medical record organizer!
                    Everything that has to do with your health, goes to a single place. Doctor uploads your medical
                    prescriptions here and labs upload your test reports here! When you visit a doctor, in order to
                    explain your complete medical history, all you have to do is just tell your DiMeRO registration
                    number and we will show it all.
                    So stop maintaining a hundred different folders from different hospitals and labs and sign up for
                    free on DiMeRO now!
                  </center>
                  <br>
                </div>
              </div>
            </center>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

          </div>

<br>