<%= form_with(model: doctor, local: true) do |form| %>
  <% if doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="font-size: large">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="item form-group">
        <label class="control-label" >Name </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <%= form.text_field :name %>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="item form-group">
        <label class="control-label" >Specialization </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <%= form.text_field :specialization %>
        </div>
      </div>
    </div>


    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="item form-group">
        <label class="control-label" >Hospital name </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <%= form.text_field :hospital %>
        </div>
      </div>
    </div>


  </div>
  <br>
  <center>
    <div class="actions">
      <%= form.submit "Submit", :class =>"btn btn-lg btn-success col-md-3 col-sm-5 col-xs-5" %>

      <%= link_to 'Back', root_path, :class =>"btn btn-lg btn-success col-md-3 col-sm-5 col-xs-5" %>
    </div>
  </center>
<% end %>
