<% if !notice.nil? %>
  <br>
  <div class="alert alert-warning alert-dismissible fade show" role="alert" id="notice">
    <strong>Alert!</strong> <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<%end %>
<br>
<div class="container" style="font-size: larger">
  <div class="jumbotron text-dark">
    <center>
      <div class="card" style="width:95%;">
        <div class="card-title" style="font-size: xx-large;"><br><b>Profile</b></div>
        <div class="card-body" align="left">

          <div class="container">
            <div class="row">
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
              <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <p>
                  <strong>Name:</strong>
                  <%= @doctor.name %>
                </p>

                <p>
                  <strong>Specialization:</strong>
                  <%= @doctor.specialization %>
                </p>

                <p>
                  <strong>Hospital:</strong>
                  <%= @doctor.hospital %>
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="container">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align:center;">
              <%= link_to 'Edit', edit_doctor_path(@doctor), :class =>"btn btn-lg btn-success col-md-6 col-sm-6 col-xs-6" %>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align:center;">
              <%= link_to 'Back', doctors_login_path , :class =>"btn btn-lg btn-success col-md-6 col-sm-6 col-xs-6"%>
            </div>
          </div>
        </div>
        <br>
      </div>
      <br>
      <div class="card" style="width:95%;">
        <div class="card-title" style="font-size: xx-large;"><br><b>Consult</b></div>
        <div class="card-body" style="text-align:left;">

          <div class="container">
            <div class="row">
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
              <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">

                <div style="font-size: large">
                <%=form_tag doctors_consult_path, method:"post" do %>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="item form-group">
                    <label class="control-label" >Patient ID </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <%= text_field_tag :patient_id, "", step: 0.01 ,required: true  , max: 350%>
                    </div>
                  </div>
                </div>
                    <div class="actions" style="text-align:center;">
                      <br>
                      <%= submit_tag "Consult Patient", :class =>"btn btn-lg btn-success col-md-3 col-sm-3 col-xs-3" %>

                      <%= link_to 'Back', root_path, :class =>"btn btn-lg btn-success col-md-3 col-sm-3 col-xs-3" %>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
          </div>
        </div>
        <br>
      </div>
    </center>
  </div>
</div>