<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Specialization:</strong>
  <%= @doctor.specialization %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @doctor.hospital %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @doctor.pic %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
<%= link_to 'Add Prescription', new_prescription_path(@prescription) %> |
