<%= form_with(model: prescription, local: true) do |form| %>
  <% if prescription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>

      <ul>
        <% prescription.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>

    </div>
  <% end %>

  <div class="field">
    <%= form.label :presname %>
    <%= form.text_field :presname %>
  </div>

  <div class="field">
    <%= form.label :pres_sym %>
    <%= form.text_field :pres_sym  %>
  </div>

  <div class="field">
    <%= form.label :pres_obs %>
    <%= form.text_field :pres_obs %>
  </div>

  <div class="field">
    <%= form.label :pid %>
    <%= form.text_field :pid %>
  </div>

  <div class="field">
    <%= form.label :did %>
    <%= form.text_field :did %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
